<h1>Configuration</h1>
<p>Set up BookThatApp.</p>

<div class="content-box">
  <div class="box-header clear">
    <h2>Users</h2>
  </div>
  <div class="box-body clear">
    <p><%= link_to "Add User", new_user_registration_path, class:'submit' %></p>
    <table class="styled">
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th class="table-actions"></th>
      </tr>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.name %> </td>
            <td><%= @role_types[user.role_id].to_s.capitalize %></td>
            <td class="table-actions">
              <%= link_to content_tag(:span, '', :class => "ui-icon ui-icon-trash"), user, :confirm => 'Are you sure?', :method => :delete %>
              <%= link_to content_tag(:span, "", :class => 'ui-icon ui-icon-pencil'), edit_user_path(user) %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<p><%= image_tag "Shopify-Buttons-250x250-test.png", style: "float: left;margin: 0 20px;" %></p>
