<tr class="fields">
  <td>
    <%= f.hidden_field :id %>
    <%= f.select :recurrence_type, options_for_select([
                                                         ['One Off Date', 'date'],
                                                         ['Recurring Date', 'rule'],
                                                         ['Exception', 'exception']
                                                 ], f.object.recurrence_type) %>

  </td>
  <td>
    <%= f.select_recurring :rule, [
    ], :allow_blank => true %>
  </td>
</tr>
