<h1>Configuration</h1>
<p>Set up BookThatApp.</p>

<div class="content-box">
  <div class="box-header clear">
    <h2>Edit Product</h2>
  </div>
  <div class="box-body clear">
    <%= nested_form_for @product do | form | %>
        <table class="nested-form-table plain styled">
          <thead>
          <tr>
            <th>Type</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <%= form.fields_for :recurrences, :wrapper => false %>
              <tr class="nested-form-actions">
                <td colspan="2">
                  <%= form.link_to_add "Add", :recurrences, :class => 'submit' %>
                </td>
              </tr>
          </tbody>
        </table>
        <div class="tab-footer clear">
            <%= form.submit 'Save', :id => "save", :class => "submit" %>
        </div>
    <% end %>
  </div>
</div>
