<h1>Configuration</h1>
<p>Set up BookThatApp.</p>

<div class="content-box">
  <div class="box-header clear">
    <h2>Locations</h2>
  </div>
  <div class="box-body clear">
    <p><%= link_to 'Add Location', new_location_path, class:'submit' %></p>
    <table class="styled">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th class="table-actions"></th>
      </tr>

      <% @locations.each do |location| %>
          <tr>
            <td><%= location.name %></td>
            <td><%= location.address %></td>
            <td><%= location.email %></td>
            <td class="table-actions">
              <%= link_to content_tag(:span, '', :class => "ui-icon ui-icon-trash"), location, :confirm => 'Are you sure you want to delete this location?', :class => 'ajax-delete' %>
              <%= link_to content_tag(:span, "", :class => 'ui-icon ui-icon-pencil'), edit_location_path(location) %>
            </td>
          </tr>
      <% end %>
      <% if @locations.empty? %>
          <tr>
            <td colspan="3">No locations</td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
